export PATH="$HOME/bin:$PATH";
export EDITOR=nano
export VISUAL="$EDITOR"
export KUBECONFIG=~/.kube/config
export TENV_ARCH=amd64
export TENV_AUTO_INSTALL=true
export GODEBUG=asyncpreemptoff=1
export ZOXIDE_CMD_OVERRIDE=cd
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH
